@use "./mixins/mixins.scss" as *;

@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url("./../font/iconfont.ttf") format('truetype');
}

.infont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$namespace}-icon-add:before {
  content: "\e664";
}

.#{$namespace}-icon-arrow-down:before {
  content: "\e665";
}

.#{$namespace}-icon-ashbin:before {
  content: "\e666";
}

.#{$namespace}-icon-arrow-right:before {
  content: "\e667";
}

.#{$namespace}-icon-bad:before {
  content: "\e668";
}

.#{$namespace}-icon-camera:before {
  content: "\e669";
}

.#{$namespace}-icon-chart-bar:before {
  content: "\e66a";
}

.#{$namespace}-icon-attachment:before {
  content: "\e66b";
}

.#{$namespace}-icon-code:before {
  content: "\e66c";
}

.#{$namespace}-icon-check-item:before {
  content: "\e66d";
}

.#{$namespace}-icon-calendar:before {
  content: "\e66e";
}

.#{$namespace}-icon-comment:before {
  content: "\e66f";
}

.#{$namespace}-icon-column-vertical:before {
  content: "\e670";
}

.#{$namespace}-icon-column-horizontal:before {
  content: "\e671";
}

.#{$namespace}-icon-complete:before {
  content: "\e672";
}

.#{$namespace}-icon-cry:before {
  content: "\e673";
}

.#{$namespace}-icon-customer-service:before {
  content: "\e674";
}

.#{$namespace}-icon-direction-down:before {
  content: "\e675";
}

.#{$namespace}-icon-copy:before {
  content: "\e676";
}

.#{$namespace}-icon-cut:before {
  content: "\e677";
}

.#{$namespace}-icon-data-view:before {
  content: "\e678";
}

.#{$namespace}-icon-file-delete:before {
  content: "\e679";
}

.#{$namespace}-icon-file-add:before {
  content: "\e67a";
}

.#{$namespace}-icon-film:before {
  content: "\e67b";
}

.#{$namespace}-icon-folder-close:before {
  content: "\e67c";
}

.#{$namespace}-icon-good:before {
  content: "\e67d";
}

.#{$namespace}-icon-home:before {
  content: "\e67e";
}

.#{$namespace}-icon-file-open:before {
  content: "\e67f";
}