@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('./font/iconfont.ttf?t=1754294080567') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-view:before {
  content: "\e633";
}

.icon-message:before {
  content: "\e635";
}

.icon-search:before {
  content: "\e63c";
}

.icon-edit:before {
  content: "\e63d";
}

.icon-link:before {
  content: "\e63e";
}

.icon-setting:before {
  content: "\e63f";
}

.icon-upload:before {
  content: "\e640";
}

.icon-download:before {
  content: "\e641";
}

.icon-notification:before {
  content: "\e642";
}

.icon-notification_off:before {
  content: "\e643";
}

.icon-lock:before {
  content: "\e644";
}

.icon-unlock:before {
  content: "\e645";
}

.icon-calculator:before {
  content: "\e649";
}

.icon-image:before {
  content: "\e64a";
}

.icon-email:before {
  content: "\e64b";
}

.icon-info:before {
  content: "\e654";
}

.icon-help_filled:before {
  content: "\e655";
}

.icon-help:before {
  content: "\e656";
}

.icon-caution:before {
  content: "\e657";
}

.icon-caution_filled:before {
  content: "\e658";
}

.icon-star:before {
  content: "\e659";
}

.icon-star_filled:before {
  content: "\e65a";
}

.icon-arrow_up:before {
  content: "\e65b";
}

.icon-arrow_left:before {
  content: "\e65c";
}

.icon-arrow_down:before {
  content: "\e65d";
}

.icon-arrow_right:before {
  content: "\e65e";
}

.icon-page_turning_left:before {
  content: "\e65f";
}

.icon-page_turning_right:before {
  content: "\e660";
}

.icon-show_less:before {
  content: "\e661";
}

.icon-show_more:before {
  content: "\e662";
}

.icon-go-to-link
:before {
  content: "\e664";
}

.icon-benefits:before {
  content: "\e665";
}

