.el-link {
    display: inline-block;
    font-size: 14px;
    font-weight: thin;
    margin: 10px;
    border-bottom: 1px solid transparent;

    &.is-disabled {
        cursor: not-allowed;
    }

    &--default {
        color: var(--link-default-color);

        &.is-underline:hover {
            box-sizing: border-box;
            border-bottom: 1px solid #000;
        }
        &.is-disabled {
            color: var(--link-default-color-disabled);
        }
    }


    &--primary {
        color: var(--link-primary-color);

        &.is-underline {
            &:hover {
                box-sizing: border-box;
                border-bottom: 1px solid var(--link-primary-color);
            }
        }

        &.is-disabled {
            color: var(--link-primary-color-disabled);
        }
    }

    &--success {
        color: var(--link-success-color);

        &.is-underline {
            &:hover {
                box-sizing: border-box;
                border-bottom: 1px solid var(--link-success-color);
            }
        }

        &.is-disabled {
            color: var(--link-success-color-disabled);
        }
    }

    &--warning {
        color: var(--link-warning-color);

        &.is-underline {
            &:hover {
                box-sizing: border-box;
                border-bottom: 1px solid var(--link-warning-color);
            }
        }

        &.is-disabled {
            color: var(--link-warning-color-disabled);
        }

        a {
            color: inherit;

            &:hover,
            &:active {
                color: inherit;
            }
        }
    }

    &--danger {
        color:var(--link-danger-color);

        &.is-underline {
            &:hover {
                box-sizing: border-box;
                border-bottom: 1px solid var(--link-danger-color);
            }
        }

        &.is-disabled {
            color: var(--link-danger-color-disabled);
        }


    }

    &--info {
        color: var(--link-info-color);
        color: var(--link-info-color);

        &.is-underline {
            &:hover {
                box-sizing: border-box;
                border-bottom: 1px solid var(--link-info-color);
            }
        }

        &.is-disabled {
            color: var(--link-info-color-disabled);
        }

    }
}