.el-scrollBar {
    overflow: hidden;
    width: inherit;
    position: relative;
    .el-scrollBar__wrap {
        overflow: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
    }

    .el-scrollBar__wrap::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Edge */
    }

    .is-horizontal {
        height: 6px;
        position: absolute;
        left:2px;
        right: 2px;
        bottom: 2px;
        .el-scrollbar__thumb{
            position: relative;
            height: 6px;
            background-color: #ccccccc3;
            border-radius: 4px;
        }
    }

    .is-vertical {
        width: 6px;
        position: absolute;
        border-radius: 4px;
        top:2px;
        bottom: 2px;
        right: 2px;
          .el-scrollbar__thumb{
            position: relative;
            width:6px;
            border-radius: 4px;
            background-color: #ccccccc3;
        }
    }
}

